body {
    
    background-image: url("../images/anhbai4.jpg");
    
  }
#bai4 h2{
    color:#008888 ;
    text-align: center;
    font-size: 50px;
}
#bai4 .doanvan{
    font-size: 25px;
}
#bai4 .doan1{
    background:#339999 ;
    color: #fff;
    font-style: italic;
    font-weight: bold;
}
#bai4 .doan2{
    color: #008888;
}
#bai4 .doan3{
    color: #008888;
}